<h2>OK, time to play</h2>

<form action='/game/turn' method="post">
  Player 1
  <input type="radio" name="choice1" value="Rock" id = "Rock" checked> Rock
  <input type="radio" name="choice1" value="Scissors" id = "Scissors"> Scissors
  <input type="radio" name="choice1" value="Paper" id = "Paper"> Paper

  Player 2
  <input type="radio" name="choice2" value="Rock" id = "Rock" checked> Rock
  <input type="radio" name="choice2" value="Scissors" id = "Scissors"> Scissors
  <input type="radio" name="choice2" value="Paper" id = "Paper"> Paper
  <input type="submit" value="Submit">
</form>

<h3> Player 1 last go: <%= @player_1_turn %> </h3>
<h3> Player 2 last go: <%= @player_2_turn %> </h3>

<h3> <%= @message %> </h3>
